@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.firebase-emulator-warning {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.notification-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(88, 94, 113, 0.1) transparent;
}

.header-bg-extension::before {
  content: "";
  position: absolute;
  top: -20px;
  /* Adjust to extend the background */
  left: 0;
  right: 0;
  height: 24px;
  /* Height of the extension */
  background-color: inherit;
  /* Match the header background */
  border-top-left-radius: inherit;
  /* Match header border-radius */
  border-top-right-radius: inherit;
  /* Match header border-radius */
}

@layer base {
  :root {
    --color-primary: 65 95 145;
    --color-surface-tint: 65 95 145;
    --color-on-primary: 255 255 255;
    --color-primary-container: 214 227 255;
    --color-on-primary-container: 0 27 62;
    --color-secondary: 89 88 146;
    --color-on-secondary: 255 255 255;
    --color-secondary-container: 226 223 255;
    --color-on-secondary-container: 21 19 74;
    --color-tertiary: 25 107 82;
    --color-on-tertiary: 255 255 255;
    --color-tertiary-container: 165 242 211;
    --color-on-tertiary-container: 0 33 22;
    --color-error: 186 26 26;
    --color-on-error: 255 255 255;
    --color-error-container: 255 218 214;
    --color-on-error-container: 65 0 2;
    --color-background: 249 249 255;
    --color-on-background: 25 28 32;
    --color-surface: 249 249 255;
    --color-on-surface: 25 28 32;
    --color-surface-variant: 224 226 236;
    --color-on-surface-variant: 68 71 78;
    --color-outline: 116 119 127;
    --color-outline-variant: 196 198 208;
    --color-shadow: 0 0 0;
    --color-scrim: 0 0 0;
    --color-inverse-surface: 46 48 54;
    --color-inverse-on-surface: 240 240 247;
    --color-inverse-primary: 170 199 255;
    --color-primary-fixed: 214 227 255;
    --color-on-primary-fixed: 0 27 62;
    --color-primary-fixed-dim: 170 199 255;
    --color-on-primary-fixed-variant: 40 71 119;
    --color-secondary-fixed: 226 223 255;
    --color-on-secondary-fixed: 21 19 74;
    --color-secondary-fixed-dim: 195 192 255;
    --color-on-secondary-fixed-variant: 66 65 120;
    --color-tertiary-fixed: 165 242 211;
    --color-on-tertiary-fixed: 0 33 22;
    --color-tertiary-fixed-dim: 138 214 183;
    --color-on-tertiary-fixed-variant: 0 81 60;
    --color-surface-dim: 217 217 224;
    --color-surface-bright: 249 249 255;
    --color-surface-container-lowest: 255 255 255;
    --color-surface-container-low: 243 243 250;
    --color-surface-container: 237 237 244;
    --color-surface-container-high: 231 232 238;
    --color-surface-container-highest: 226 226 233;
  }
}

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: rgb(25 107 82);
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: rgb(186 26 26);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: rgb(25 28 32);
  --toastify-text-color-dark: #fff;

  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --toastify-color-progress-light: rgb(65 95 145);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);

  --toastify-color-progress-bgo: .2;
}

