@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 6px; 
}

.notification-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); 
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.header-bg-extension::before {
  content: "";
  position: absolute;
  top: -20px; /* Adjust to extend the background */
  left: 0;
  right: 0;
  height: 24px; /* Height of the extension */
  background-color: inherit; /* Match the header background */
  border-top-left-radius: inherit; /* Match header border-radius */
  border-top-right-radius: inherit; /* Match header border-radius */
}